{% extends 'dashbord/dashbord.html' %}

{% block content %}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'all_product' %}">All Product<span class="lnr lnr-arrow-right"></span></a>
                    <a href="{% url 'Dashbord' %}">Home</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Section -->
<!-- Related to sidebar and nav of shopping -Start  -->
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Browse Categories</div>
                <ul class="main-categories">
                    
                        <li class="main-nav-list">
                          <a href="{% url 'all_product' %}">
                            <span class="lnr lnr-arrow-right"></span>ALL PRODUCT
                          </a>
                        </li>
                      
                    
                </ul>
            </div>
            
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                
                <div class="sorting">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                          Sort
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <li><a class="dropdown-item" href="/sortproduct/1">Price:low-High</a></li>
                          <li><a class="dropdown-item" href="/sortproduct/-1">Price:High-low</a></li>
                        
                        </ul>
                      </div>
                </div>
                
                <!-- <div class="sorting mr-auto">
                    <select>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                    </select>
                </div> -->
                <!-- <div class="pagination">
                <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                <a href="#">6</a>
                <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div> -->
            </div>
            <!-- Related to sidebar and nav of shopping -End  -->
            <br>
            <br>

            <div class="single-product-slider">
                <div class="container">
            <div class="row justify-content-center">
                {% for pro in pro %}
                    <div class="col-sm-6 col-lg-3 mx-auto">
                        <div class="single-product">
                            <img class="img-fluid" src="{{ pro.image.url }}"
                                 style="width: 200px; height: 200px; object-fit: cover;">
                            <div class="product-details">
                                <h6>{{ pro.name }}</h6>
                                <div class="price">
                                    <h6>Price: ₹ {{ pro.price }} </h6>
                                </div>
                                <div class="prd-bottom">
                                    <a href="/wishlist/{{ pro.id }}" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="{% url 'view_product' pro.id %} " class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">View More</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
					









</div></div></div>

<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                        We source footwear from reputable manufacturers known for their commitment to quality and attention to detail.
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>Stay update with our latest</p>
                    <div class="" id="mc_embed_signup">

                        <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                         method="get" class="form-inline">

                            <div class="d-flex flex-row">

                                <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
                                 required="" type="email">


                                <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                </div>

                               
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Contact Us</h6>
                    <p>Email: urbasole@gmail..com</p>
                    <p>Phone(SMS):9876543210 </p>
                    <p>Address: 123 Main Street, Banglore</p>
                </div>
            </div>
           
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Follow Us</h6>
                    <p>Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;2023 All rights reserved this Website for UrbanSole
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
        </div>
    </div>
</footer>
<!-- End footer Area -->


</body>

</html>

{% endblock%}